@import './resets';    
@import "./variables"; 

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction:$direction;
}
body {
    background: $primary-color;
    color: $text-color;
    
}
.main {
    @include flexCenter(column);
    width: 80%;
    margin: 0 auto;
    #{&}_paragraph {
        font-weight: weight(bold);
        &:hover {
            color: pink;
        }
    }
}