@import './resets';    
@import "./variables"; 

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction:$direction;
}

@mixin theme($lite-theme: true){
    @if $lite-theme {
        background: lighten ($primary-color, 100%);
        color: darken($text-color, 100%);
    }

}

@mixin mobile {
    @media (max-width: $mobile){
        @content
    }
}

body {
    background: $primary-color;
    color: $text-color;
    
}
.main {
    @include flexCenter(row);
    width: 80% - 40%;
    margin: 0 auto;
    #{&}_paragraph1 {
        font-weight: weight(bold);
        &:hover {
            color: pink;
        }
    }

    #{&}_paragraph2 {
        @extend .main_paragraph1;
        &:hover {
            color: red;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}
.light {
    @include theme($lite-theme: true);
}